simulation/yolov8n.pt
simulation/examplevideo.mp4
yolov8n.pt

simulation/hallway.mp4
backend/app/config.py
hallway.mp4
simulation/camprocess/counts.txt

camprocess/__pycache__/
simulation/utils/__pycache__/
frontend/__pycache__/
backend/app/__pycache__/

__pycache__/
*.mp4
*.pyc
*.txt